<div class="row-parent">
  {% for article in articles %}
  {% for subcategory in article.subcategories %}
    <li>
        <a href="{{ SITEURL }}/{{ subcategory.url }}">{{ subcategory.shortname }}</a>
    </li>
{% endfor %}
{% endfor %}
  <div class="row">
    <div class="row__colspaced">
      {% for article in articles_page.object_list %}
            <div class="colspan12-3 colspan6-3 colspan2-2  as-grid with-gutter {{ article.tag }} ">
                <li class="blog-entry"><article class="hentry">
                  <img src="{{ article.image }}">
                  {% for subcategory in article.subcategories %}
                    <a href="{{ SITEURL }}/{{ subcategory.url }}">{{ subcategory.shortname }}</a>
                  {% endfor %}
                  <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                  <div class="entry-content"> {{ article.summary }} </div>
                  <footer class="post-info">
                    <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                  </footer>
                </article></li>
            </div>
      {% endfor %}
    </div>
  </div>
</div>
