{% for article in articles_page.object_list %}
<div class="row-parent">
  <div class="row">
    <div class="row__colspaced">
      <div class="colspan12-3 colspan6-3 colspan2-2  as-grid with-gutter">
          <li class="blog-entry"><article class="hentry">
            <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
            <div class="entry-content"> {{ article.summary }} </div>
            <footer class="post-info">
              <time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
            </footer>
          </article></li>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!--
<div class="row">
<div class="colspan12-6">
<h1 style="font-size: 32px; font-weight: bold; ">Coming soon!</h1>
<img style="width:100%;" src="https://raw.githubusercontent.com/colmoneill/cypriadonato.work/master/content/images/comingsoon.gif">
</div>
</div>
-->
