{% extends "base.html" %}
{% block title %}{{ SITENAME }}{%endblock%}
{% block nav %}
<style>
body {background-color:#{{page.background_color}} !important;}
</style>
<div class="home-right">
<header id="hp-banner" class="body">
  <nav class="nav-collapse"><ul>
  {% if DISPLAY_PAGES_ON_MENU -%}
  {% for pg in PAGES %}
      <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
  {% endfor %}
  {% endif %}
  {% if DISPLAY_CATEGORIES_ON_MENU -%}
  {% for cat, null in categories %}
      <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
  {% endfor %}
  {% endif %}
  {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
  {% endfor %}
  </ul></nav>
  <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
  <sub>{% if SITESUBTITLE %}{{ SITESUBTITLE }}{% endif %}</sub>
</header><!-- /#banner -->
</div>
{% endblock nav %}
{% block content %}
<a class="homepage-link" href="{{page.link_to_project}}">
<div class="home-left" style="background-image: url({{page.only_img}}); z-index:9999;">
</div>
</a>
{% endblock content %}

{% block grid %}
{% block footer %}
<footer class="home-footer">
  <footer id="main-footer">
    <p>avec l'aide du Centre du Cinéma et de l'Audiovisuel de la Fédération Wallonie-Bruxelles</p>
    <p><a href="https://github.com/colmoneill/cypriadonato.work">website</a> based on <a href="http://blog.getpelican.com/">Pelican</a>, design & development by <a href="http://colm.be">Colm</a>.</p>
    <img class="footer-logo" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/imgs/FWB.png">
  </footer>
</footer>
{% endblock footer %}
{% endblock %}
