div.entry-content.article{
  @include respond-to($c-vp){
    p{
      width: 60%;
      margin: 0 auto;
      img{
         width: 140%;
       }
    }
  }
  @include respond-to($d-vp){
    img.full{
      width: 80%;
      margin: 0 auto;
    }
    p{
      width: 40%;
    }
  }
}
