div.entry-content.article {
  img {
    width: 100%;
    margin-bottom: 8px;
  }
  p a {
    color: #00B0B0;
    position: relative;
    text-decoration: none;
    &:hover {
      color: #00B0B0;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #00B0B0;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  iframe {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    @include respond-to($c-vp){
      width: 220% !important;
      margin-left: -60%;
    } ;
  }
  h1 {
    font-size: 42px;
    font-family: "hk_groteskbold";
  }
  h2 {
    font-size: 32px;
    font-family: "hk_groteskbold";
    margin-top: 16px !important;
  }
}

.lt-ie9 div.entry-content.article {
  p {
    width: 60%;
    margin: 0 auto;
    clear: both;
    border-top: 16px !important;
  }
  iframe {
    min-height: 600px;
  }
  h1 {
    width: 100%;
  }
  h2, h3, h4, h5, h6 {
    width: 60%;
    margin: 0 auto;
  }
  img {
    &.full {
      width: 200%;
      margin-left: -50%;
    }
    &.half {
      width: 48%;
      float: left;
      margin-left: 1%;
    }
    &.quart {
      width: 23%;
      margin-left: 1%;
    }
  }
  p, h1, h2, h3, h4, h5, h6 {
    width: 40%;
  }
  iframe {
    min-height: 800px;
  }
}

@media screen and (min-width: 600px) {
  div.entry-content.article {
    p {
      width: 60%;
      margin: 0 auto;
      clear: both;
      border-top: 16px !important;
    }
    iframe {
      min-height: 600px;
    }
    h1 {
      width: 100%;
    }
    h2, h3, h4, h5, h6 {
      width: 60%;
      margin: 0 auto;
    }
    img {
      &.full {
        width: 200%;
        margin-left: -50%;
      }
      &.half {
        width: 48%;
        float: left;
        margin-left: 1%;
      }
      &.quart {
        width: 23%;
        margin-left: 1%;
      }
    }
  }
}

@media screen and (min-width: 900px) {
  div.entry-content.article {
    p, h1, h2, h3, h4, h5, h6 {
      width: 40%;
    }
    iframe {
      min-height: 800px;
    }
  }
}

li.blog-entry {
  background-color: lightgrey;
  margin-bottom: 8px;
  padding: 8px;
  list-style-type: none;
  article.hentry {
    header {
      border-bottom: 3px solid black;
      h2 {
        font-family: "hk_groteskbold";
        font-size: 24px;
        color: grey;
        &:before {
          content: "â€” ";
          color: #333;
        }
      }
    }
    div.entry-content {
      margin-bottom: 8px;
    }
    footer {
      font-size: 12px;
      color: grey;
    }
  }
}

footer#main-footer {
  bottom: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.lt-ie9 footer#main-footer {
  margin-bottom: 0;
}

@media screen and (min-width: 600px) {
  footer#main-footer {
    margin-bottom: 0;
  }
}

footer#main-footer {
  p {
    font-size: 12px;
    color: lightgrey;
    font-family: "hk_grotesklight";
  }
  a {
    color: lightgrey;
    position: relative;
    text-decoration: none;
    &:hover {
      color: #777;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #00B0B0;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }
    &:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  img.footer-logo {
    padding-top: 16px;
    width: 120px;
  }
}

div.home-left {
  padding: 8px;
  width: 100%;
  min-height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.lt-ie9 div.home-left {
  padding: none;
  float: left;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  div.home-left {
    padding: none;
    float: left;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

div.home-right {
  padding: 8px;
}

.lt-ie9 {
  div.home-right {
    padding: none;
    width: 49%;
    float: right;
    h1 {
      margin-top: 192px;
    }
  }
  a.homepage-link {
    display: block;
    width: 50%;
    height: 100vh;
    margin-top: -40px;
    margin-left: -8px;
    float: left;
  }
}

@media screen and (min-width: 600px) {
  div.home-right {
    padding: none;
    width: 49%;
    float: right;
    h1 {
      margin-top: 192px;
    }
  }
}

@media screen and (min-width: 600px) {
  a.homepage-link {
    display: block;
    width: 50%;
    height: 100vh;
    margin-top: -40px;
    margin-left: -8px;
    float: left;
  }
}

footer.home-footer {
  float: left;
}

.lt-ie9 footer.home-footer {
  width: 49%;
  padding-left: 2%;
  margin-top: 128px;
  position: absolute;
  right: 2%;
  bottom: 10px;
}

@media screen and (min-width: 600px) {
  footer.home-footer {
    width: 49%;
    padding-left: 2%;
    margin-top: 128px;
    position: absolute;
    right: 2%;
    bottom: 10px;
  }
}

header#hp-banner {
  width: 100%;
  text-transform: lowercase;
  border-bottom: 3px solid #333;
  padding-bottom: 16px;
  h1 {
    font-family: "hk_groteskbold";
    font-size: 42px;
    border-bottom: none;
    margin-bottom: -8px;
  }
  sub {
    font-size: 42px;
    font-family: "hk_grotesklight";
  }
  ul {
    font-family: "hk_groteskmedium";
    margin-bottom: 32px;
    border-bottom: 1px solid #777;
  }
}

.lt-ie9 header#hp-banner ul {
  border-bottom: none;
}

@media screen and (min-width: 600px) {
  header#hp-banner ul {
    border-bottom: none;
  }
}

header {
  &#hp-banner ul li {
    margin-right: 8px;
    height: 32px;
  }
  &#banner {
    width: 100%;
    text-transform: lowercase;
    padding-bottom: 16px;
    h1 {
      font-family: "hk_groteskbold";
      font-size: 42px;
      border-bottom: none;
      padding-bottom: 8px;
      margin-bottom: 16px;
      border-bottom: 3px solid #333;
    }
    ul {
      font-family: "hk_groteskmedium";
      margin-bottom: 16px;
      border-bottom: 1px solid #777;
    }
  }
}

.lt-ie9 header#banner ul {
  border-bottom: none;
}

@media screen and (min-width: 600px) {
  header#banner ul {
    border-bottom: none;
  }
}

header#banner ul li {
  margin-right: 8px;
  height: 32px;
}

.lt-ie9 header ul li {
  display: inline;
}

@media screen and (min-width: 600px) {
  header ul li {
    display: inline;
  }
}

section#content {
  margin-top: 32px;
}

li.project-entry {
  list-style-type: none;
  margin-top: 16px;
  article.hentry {
    h1 {
      font-size: 32px;
      font-family: "hk_groteskbold";
    }
    h2 {
      font-size: 20px;
      text-transform: lowercase;
    }
    h3 {
      font-size: 15px;
      text-transform: lowercase;
    }
    div.entry-content {
      margin-top: 16px;
      h1, h2, h3, h4, h5, h6 {
        text-transform: lowercase;
      }
      h1 {
        display: none;
      }
    }
  }
  div {
    &.odd {
      float: right;
    }
    &.text-odd {
      text-align: left;
    }
  }
}

.lt-ie9 li.project-entry div.text-odd {
  text-align: right;
}

@media screen and (min-width: 600px) {
  li.project-entry div.text-odd {
    text-align: right;
  }
}

li.project-entry div.hero-img {
  width: 100%;
  height: 200px;
}

.lt-ie9 li.project-entry div.hero-img {
  height: 400px;
}

@media screen and (min-width: 600px) {
  li.project-entry div.hero-img {
    height: 400px;
  }
}

li.project-entry div.img-placeholder {
  width: 100%;
  min-height: 200px;
  background-color: lightgrey;
}

.lt-ie9 li.project-entry div.img-placeholder {
  min-height: 400px;
}

@media screen and (min-width: 600px) {
  li.project-entry div.img-placeholder {
    min-height: 400px;
  }
}

li.project-entry div.img-placeholder {
  h1 {
    color: white;
    text-align: center;
    padding-top: 64px;
  }
  h3 {
    color: white;
    text-align: center;
  }
}
div.social-reel{
  display: block;
  margin-top: 16px;
  width: 100%;
  clear: both;
  @include respond-to($c-vp){
  display: block;
  width: 40%;
  margin: 0 auto;
  margin-top: 16px;
  }
  img.icon{
    margin-right: 3%;
    width: 15%;
    @include respond-to($c-vp){
    width: 7% !important;
    }
    //margin-bottom: 16px;
  }
}
